@model Models.OfertaEmpleo
@{
    
}
<h3>@ViewBag.Title</h3>
<script src="http://cdn.tinymce.com/4.4/tinymce.min.js"></script>

@using(Ajax.BeginForm("Acciones", new AjaxOptions
{
    HttpMethod="POST",
}))
{
    @Html.HiddenFor(oe=>oe.id)
    @Html.AntiForgeryToken();

    <div class="row sup">
        <div class="col-xs-12 col-sm-6">
            <label>Titulo</label>
            @Html.TextBoxFor(oe => oe.Nombre, new { @class = "form-control", placeholder = "Ingrese el titulo de la oferta" })
            @Html.ValidationMessageFor(oe => oe.Nombre, "", new { @class = "label label-danger" })
        </div>
        <div class="col-xs-12 col-sm-6">
            <label>Categoría</label>
            @Html.DropDownList("Categoria_id", new SelectList(ViewBag.Categoria_id, "id", "nombre"), new { @class = "form-control" })
        </div> 
     </div>   
    <div class="row sup">
        <div class="form-group col-xs-12 col-sm-6">
            <label>Requisitos Minimos</label>
            @Html.TextAreaFor(oe => oe.RequisitosMin, new { @class = "form-control", placeholder = "" })
            @Html.ValidationMessageFor(oe => oe.RequisitosMin, "", new { @class = "label label-danger" })
        </div>
        <div class="col-xs-12 col-sm-6 sup">
            <label>Experiencia Minima</label>
            @Html.TextAreaFor(oe => oe.ExperienciaMin, new { @class = "form-control", placeholder = "" })
            @Html.ValidationMessageFor(oe => oe.ExperienciaMin, "", new { @class = "label label-danger" })
        </div>
    </div>
   <div class="row sup">
       <div class="form-group col-xs-12">
           <label>Decripción de la Oferta</label>
           @Html.TextAreaFor(oe => oe.Descripcion, new { @class = "form-control", placeholder = "" })
           @Html.ValidationMessageFor(oe => oe.Descripcion, "", new { @class = "label label-danger" })
       </div>
   </div>
   <div class="row">
       <div class="col-xs-12 col-sm-2">
           <label>Vacantes</label>
           @Html.TextBoxFor(oe => oe.Vacantes, new { @class = "form-control", placeholder = "", @readonly = "readonly" })
           @Html.ValidationMessageFor(oe => oe.Vacantes, "", new { @class = "label label-danger" })
           <div id="slider-range-min" style="margin-top: 5px;"></div>
       </div>
       <div class="col-xs-12 col-sm-2">
           <label>Salario</label>
           @Html.TextBoxFor(oe => oe.Salario, new { @class = "form-control", placeholder = "", @readonly = "readonly" })
           @Html.ValidationMessageFor(oe => oe.Salario, "", new { @class = "label label-danger" })
           <div id="slider-range-min1" style="margin-top: 5px;"></div>
       </div>
       <div class="col-xs-12 col-sm-8 text-right">
           <button type="submit" class="btn btn-primary">Enviar</button>
       </div>
   </div>
   

        
}

<script>
    $(document).ready(function () {

        Colorea('@Session["menuActivo"]');

        tinyMCE.init({
            // General options
            mode: "textareas",
            theme: "modern",
            height: 150,
            plugins: "advlist",
            advlist_bullet_styles: "square",
            plugins: "hr",
        });
    });

    $(function () {
        var valorInicioal = $('#Vacantes').val();
        $("#slider-range-min").slider({
            range: "min",
            value: valorInicioal,
            min: 1,
            max: 100,
            slide: function (event, ui) {
                $("#Vacantes").val(ui.value);
            }
        });
        valorInicioal = $('#Salario').val();
        $("#slider-range-min1").slider({
            range: "min",
            value: valorInicioal,
            min: 0,
            max: 10000,
            slide: function (event, ui) {
                $("#Salario").val(ui.value);
            }
        });

    });
</script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.11.3.js"></script>

